.timer {
  max-width: 460px;
  margin: 50px auto 0 auto;
}

.status {
  font-size: 14px;
  line-height: 1.6;
}

.ping {
  color: #048034;
}

.timeIsUp {
  color: #e93d2c;
}

.mat-card-content {
  display: flex;
  column-gap: 12px;
}

.buttons-group {
  display: flex;
  column-gap: 12px;
}
